[submodule "src/github.com/alecthomas/kingpin"]
	path = src/github.com/alecthomas/kingpin
	url = git@github.com:alecthomas/kingpin.git
[submodule "src/github.com/alecthomas/units"]
	path = src/github.com/alecthomas/units
	url = git@github.com:alecthomas/units.git
[submodule "src/github.com/cihub/seelog"]
	path = src/github.com/cihub/seelog
	url = git@github.com:cihub/seelog.git
[submodule "src/github.com/fsouza/go-dockerclient"]
	path = src/github.com/fsouza/go-dockerclient
	url = git@github.com:fsouza/go-dockerclient.git
[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
	url = git@github.com:stretchr/testify.git
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = git@github.com:go-yaml/yaml.git
[submodule "src/github.com/aws/aws-sdk-go"]
	path = src/github.com/aws/aws-sdk-go
	url = git@github.com:aws/aws-sdk-go.git
[submodule "src/github.com/go-ini/ini"]
	path = src/github.com/go-ini/ini
	url = git@github.com:go-ini/ini.git
[submodule "src/github.com/jmespath/go-jmespath"]
	path = src/github.com/jmespath/go-jmespath
	url = git@github.com:jmespath/go-jmespath.git
[submodule "src/github.com/flynn/flynn"]
	path = src/github.com/flynn/flynn
	url = git@github.com:flynn/flynn.git
